<!-- templates/inspections/add_object.html -->
{% extends 'inspections/base.html' %}
{% load widget_tweaks %}

{% block title %}Добавление объекта{% endblock %}

{% block content %}
<h2 class="mb-4">Добавление объекта</h2>
<form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name|add_class:"form-control" }}
        {{ form.name.errors }}
    </div>
    <div class="mb-3">
        {{ form.address.label_tag }}
        {{ form.address|add_class:"form-control" }}
        {{ form.address.errors }}
    </div>
    <div class="mb-3">
        {{ form.description.label_tag }}
        {{ form.description|add_class:"form-control" }}
        {{ form.description.errors }}
    </div>
    <div class="mb-3">
        {{ form.last_check_date.label_tag }}
        {{ form.last_check_date|add_class:"form-control" }}
        {{ form.last_check_date.errors }}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}